* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffd0a8;
  color: #333;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  font-size: 2em;
  /* text-transform: uppercase; */
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  background-color: lightgray;
  flex: 0 0 80%;
}

#quoteBtn {
  border: none;
  color: #fff;
  background: #d89156;
  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  outline-style: none;
  cursor: pointer;
}

#quoteBtn:hover {
  color: #ffd000;
}

blockquote {
  background: lightgray;
  border-left: 10px solid #fcdbbf;
  margin: 1.5rem;
  padding: 0.5rem;
}

#quoteAuthor {
  color: #333;
}
